{% extends "accounts/home_list.html" %}
{% block content %}
    {% for form in history_list %}
        {% if form.author == request.user%}
            <div class="jumbotron">
            <h1>Name: {{ form.author }}</h1>
            <h1>Product name: {{ form.item.name }}</h1>
            <h1>Price prod: {{ form.item.price }} lei</h1>
            <h1>Purchased Date : {{ form.date }}</h1>
            <h2>Acctivation key: {{ form.activation_code }}</h2>
        </div>
    {% endif %}
    {% endfor %}
{% endblock %}